* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}

body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

header {
    position: sticky;
    top: 0;

    background-color: #3ba99c;

    height: 7em;
    padding: 1.5em;
    display: flex;

}

a {
    align-self: center;
    outline: none
}

p {
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 10em;
    color: grey;
    padding: 1em;
    outline: none
}

textarea::placeholder {
    text-align: center;
    padding: 2em;
}

.invisible{
    visibility: hidden;
}


.container{
    width:100%;
}
ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

ul.ks-cboxtags li {
    display: inline;

}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid #ed217c;
    color: #ed217c;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;

}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;

    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="radio"]:checked+label::before, ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {

    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="radio"]:checked+label, ul.ks-cboxtags li input[type="checkbox"]:checked+label {
    border: 2px solid #ed217c;
    background-color: #ed217c;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="radio"], ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="radio"], ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="radio"]:focus+label, ul.ks-cboxtags li input[type="checkbox"]:focus+label {
    border: 2px solid #ed217c;
}








header a img {
    width: 8em;
    height: 3em;
    margin-right: 16em;
    margin-bottom: -0.6em;
    z-index: 1;
    margin-right: auto;

}

header div#escritorio img {
    width: 8em;
    height: 4em;
    margin-bottom: -0.6em;
    z-index: 1;
    margin-right: auto;
    border-radius: 1em;

}


header label#hamburguesa {

    position: relative;
    margin-left: auto;
    cursor: pointer;
    align-self: center;
    width: 3em;
    height: 2.5em;
}

header label#hamburguesa span {
    position: absolute;
    left: 0;
    display: block;
    width: 3em;
    height: 0.5em;
    background-color: white;
    transition: 1s;
}

header label#hamburguesa span:nth-child(1) {
    top: 0;

}

header label#hamburguesa span:nth-child(2) {
    top: 1em;

}

header label#hamburguesa span:nth-child(3) {
    top: 2em;

}

#ham {
    display: none;
}

#ham:checked+#hamburguesa span:nth-child(1) {
    transform: rotate(45deg);
    top: 1em;
}

#ham:checked+#hamburguesa span:nth-child(2) {
    transform: rotate(180deg);
    opacity: 0;

}


#ham:checked+#hamburguesa span:nth-child(3) {
    transform: rotate(-45deg);
    top: 1em;

}

header form ul#menu {
    position: fixed;
    top: 7em;
    right: 0;
    width: 0;
    height: 40em;
    background-color: #A3F7B5;
    list-style: none;
    color: white;
    transition: 1s;
    border-radius: 0 0 0 0.4em;


}

header ul#menu li {
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
}

header form ul#menu li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    outline: none
}

header ul#menu li button {
    text-decoration: none;
    color: #32887e;

}

#ham:checked+#hamburguesa+form ul#menu {
    width: 10em;

}

header div#escritorio {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


/***************************************************/
main section#grande {
    display: none;
}

main section#titulares {
    background-color: #ede6e6;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 80vw;
   /* min-height: 50vh;*/
    border-radius: 0.3em;
    color: white;
    padding: 1.5em;
}

.oculta {
    display: none;
}


main section#titulares>p {
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    background-color: #ed217da6;
    border-radius: 0.3em;
    padding: 0.1em;

}

main section#titulares p a {
    text-decoration: none;
    color: white;
}

main section#titulares div article img {
    width: 100%;
    height: auto;

}

main section#titulares div article {

    display: flex;
    background-color: #3ba99c;
    min-height: 33vh;
    flex-direction: column;
    padding: 0.5em;
   /* font-size: 1.2em;*/
    margin-bottom: 1em;

}

.cabecera {
    text-align: center;
}
.titulo_prueba{
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    background-color: #ed217da6;
    border-radius: 0.3em;
    padding: 0.3em;
    border:none;
    color:white;
    width: 100%;
}
.titulo {
    font-size: 1.2em;
    padding: 1em;


}

.titulo2 {
    display:block;
    font-size: 1.5em;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
    color: #32887e;

}

main section#titulares div article form {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*font-size: 1.5em;*/
    height: min-content;
}
main section#titulares div article form  input{
    margin:1em;
}

main section#titulares div article p {
    padding: 1em;
}

main section#titulares div article p span.destino {
    font-size: 1.5em;
}

main section#titulares article input[type="file"] {
    padding: 0 !important;
}


main section#titulares article input.formu {
    width: 80%;
    background-color: #ede6e6;
    height: 40px;
    border: none;
    color: grey;
    text-align: center;
    margin-left: 10%;

}

main section#titulares article input.formu2 {
    width: 70%;
    background-color: #ede6e6;
    height: 40px;
    border: none;
    color: grey;
    text-align: center;

}

article input.sub {
    width: 100%;
    background-color: #ed217c;
    height: 40px;
    border: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
main section#grande2 > article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #3ba99c;
    padding: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 80vw;
    border-radius: 0.3em;
    color:white;

}


main section#grande2 article input.formu {
    width: 70%;
    margin-left: 15%;
    background-color: #ede6e6;
    height: 40px;
    border: none;
    color: grey;
    

}
main section#grande2 article p img{
    width:100%;
}
main section#grande2 article input.formu2 {
    width: 70%;
    margin-bottom: 1em;
    margin-left: 15%;
    background-color: #ede6e6;
    height: 40px;
    border: none;
    color: grey;
    text-align: center;

}

footer {
    display: flex;
    padding: 1.2em;
    height: 4.2em;
    width: auto;
    margin-top: auto;
    background-color: #3ba99c;
    color: WHITE;
    text-align: left;
}

footer p {
    margin: 0.5em;
}

@media (min-width: 1000px) {

    header label#hamburguesa {
        display: none;
    }

    header form ul#menu {
        width: 100vw !important;
        height: min-content;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;

    }

    header form ul#menu li {
        margin-bottom: 0.5em;
    }

    .oculto {
        display: none;
    }


    header div#escritorio {
        margin-left: auto;
        margin-top: 0em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    header div#escritorio p {
        align-self: center;
        color: white;
        margin-right: 1em;
    }

    header div#escritorio a {
        height: 100%;
        width: auto;
    }

    header div#escritorio a img {

        width: auto;
    }

    main {
        justify-content: space-around;
        flex-direction: row;

    }

    main section#titulares {
        margin: 0;
        margin-left: 2em;
        height: 100%;
        flex: 0 30%;
        margin-top: 6em;
        margin-bottom: 6em;

    }

    main section#grande2 {

        flex: 0 60%;
        margin-top: 6em;
        margin-bottom: 6em;
        background-color: #ede6e6;
        border-radius: 0.3em;
        display: block;
        color: white;
        padding: 2em;
        display: flex;
        flex-direction: column;


    }

    main section#grande2 article p img {
        width: 50%;
        height: auto;
        margin-bottom: auto;
        float: left;
        margin-right: 1em;


    }

    main section article img#perfil {
        width: 25%;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;


    }

    main section#grande article p#perf {
        width: 60%;
        margin-left: 1em;
        font-size: 1.5em;
        height: min-content;

    }

    main section#grande article p {
        width: 100%;

        font-size: 1.5em;
        height: min-content;

    }


    main section#grande article input.formu {
        width: 70%;
        margin-left: 15%;
        background-color: #ede6e6;
        height: 40px;
        border: none;
        color: grey;
        text-align: center;

    }

    main section#grande2 article input.formu2 {
        width: 70%;
        margin-bottom: 1em;
        margin-left: 15%;
        background-color: #ede6e6;
        height: 40px;
        border: none;
        color: grey;
        text-align: center;

    }

    article input.sub {
        width: 100%;
        background-color: #ed217c;
        height: 40px;
        border: none;
        color: white;
        margin-left: auto;
        margin-right: auto;
    }



    main section#grande h1:nth-child(1) {
        font-size: 3em;
    }
    
    main section#grande2 > article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #3ba99c;
        padding: 1.5em;
        width: 100%;
       

    }

    main section#grande article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #3ba99c;
        padding: 1.5em;
       

    }

    main section#grande article form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
        height: min-content;
        

    }

    main section#grande article form input{
        margin:1em;
    }



    main section#grande span.destino {
        font-size: 1.5em;
    }

    main section#grande article.robo p {
        width: 80%;
    }



}