*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-image:url('../img/fondo2.gif');
    background-repeat: no-repeat;
    background-size:auto 100%;
    background-position: 50% 50%;
    min-height: 100vh;
}
main{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    /*Horizontal*/
    justify-content: center;
    /*Vertical*/
    align-items: center;

}

main section{
    width: 23em;
    height: 33em;
    background: #3ba99caf;
    border-radius: 0.3em;
}

img{
    width: 8em;
    height: 3em;
    margin-right: 14em;
    margin-bottom: -0.6em;
    z-index: 1;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    /*Vertical*/
    align-items: center;
    padding:1.5em;

}

form p{
    width:100%;
    margin:0.3em;
    font-size:1.2em;
    color:white;
}
form p input.formu{

    width: 80%;
    background-color: #ede6e6;
    height: 40px;
    border: none;
    color: grey;
    text-align: center;
    margin-left: 10%;
}

form p input.sub, form p button.sub{
    width: 100%;
    margin-top: 2em;
    background-color: #B20653;
    height: 40px;
    border: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

form button.sub{
    width: 100%;
    margin-top: -2em;
    background-color: #B20653;
    height: 40px;
    border: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 780px){

    body{
        background-image:url('../img/fondo1.gif');
    background-size:100% 100%;
    }
}
